XML/13-datos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- en el xsd define una sewcuencia de 3 campos, de, para , texto de tipo string-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="datos"
    <xs:complexType>
   <xs:element name="lastname" type="xs:string"/>
    <xs:element name="age" type="xs:intergent"/>
     <xs:element name="dateborn" type="xs:date"/>
    
    
    </xs:complexType>
        
    </xs:element>
</xs:schema>